 $toggle-background-color-on: #5E5AF5;
$toggle-background-color-off: #0e0e0e;
$toggle-control-color: white;
$toggle-width: 70px;
$toggle-height: 35px;
$toggle-gutter: 4px;
$toggle-radius: 50%;
$toggle-control-speed: .15s;
$toggle-control-ease: ease-in;

$toggle-radius: $toggle-height / 2;
$toggle-control-size: $toggle-height - ($toggle-gutter * 2);

.toggle-control {
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  input:checked ~ .control {
    background-color: $toggle-background-color-on;
    
    &:after {
      left: $toggle-width - $toggle-control-size - $toggle-gutter;
    }
  }

  .control {
    position: absolute;
    top: 0;
    right: 20px;
    height: $toggle-height;
    width: $toggle-width;
    border-radius: $toggle-radius;
    background: rgba($toggle-background-color-off, 0.7);
    transition: background-color $toggle-control-speed $toggle-control-ease;
    @media (max-width: 905px){
      right: 0px;
    }
    &:after {
      content: "";
      position: absolute;
      left: $toggle-gutter;
      top: $toggle-gutter;
      width: $toggle-control-size;
      height: $toggle-control-size;
      border-radius: $toggle-radius;
      background: $toggle-control-color;
      transition: left $toggle-control-speed $toggle-control-ease;
    }
  }
}

